body
{
    margin: 0;
    padding: 0;
}



.menu--despegable
{
    width: 95%;
    height: 100%;
    position: fixed;
    right: -100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    background-color: white;
    /* border-left: rgb(255, 255, 255) 1px solid; */
    box-shadow: 0px -1px 5px 0px black;
    z-index: 3;
    transition: .3s;
}
.header--despegable
{
    width: 100%;
    height: 100%;
    /* background-color: ; */
    display: grid;
    /* border-bottom: black 1px solid; */
    box-shadow: 3px 0px 5px 0px black;
    grid-template-columns: 20% 75%;
    column-gap: 1%;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: right;
}
.header--despegable--button
{
    width: 100%;
    height: 100%;
    display: grid;
 }
.header--despegable--button span
{
    font-size: 40px;
    justify-self: left;
    cursor: pointer;
}
.header--despegable--title
{
    font-size: 35px;
    font-family: 'kind_and_rich_-_personal_usRg';
    display: flex;
}

.nav--despegable-container
{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 80%;
    grid-template-rows: 100%;
    justify-content: right;
    margin-top: 5px;
}
.nav--despegable
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 8% 8% 12% 5% 5% 5% 5% 5% 5% 5%;
    text-align: right;
    align-items: center;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 300;
}
.nav--despegable span
{
    margin-right: 5px;
}
.nav--despegable a
{
    text-decoration: none;
    color: black;
}
.nav--despegable-inicio:hover, .nav--despegable-rutas:hover, .nav--despegable-naturaleza:hover, .nav--despegable-playas:hover
{
    background-color: #e2dddd;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.nav--despegable-guatemala:hover,.nav--despegable-costarica:hover, .nav--despegable-belice:hover, .nav--despegable-elsalvador:hover, .nav--despegable-honduras:hover, .nav--despegable-nicaragua:hover, .nav--despegable-panama:hover
{
    background-color: #e2dddd;
    transition: .2s;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
}
.nav--despegable-guatemala,.nav--despegable-costarica, .nav--despegable-belice, .nav--despegable-elsalvador, .nav--despegable-honduras, .nav--despegable-nicaragua, .nav--despegable-panama
{
    margin-right: 10%;
}

.nav--despegable-pais
{
    background-color: #e2dddd;
    margin-right: 20px;
    text-align: center;
}
.nav--despegable-inicio, .nav--despegable-rutas, .nav--despegable-naturaleza, .nav--despegable-playas
{
    padding: 5px;
}

.container
{   
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}


.botton--menu--container
{
    margin-top: 700px;
    height: 100%;
    width: 70px;
    position: absolute;
    right: 20px;
}
.botton--menu--back
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0, 0, 141);
    position: sticky;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-align: center; */
}
.botton--menu--back span
{
    
    font-size: 40px;
    color: white;
}

.header
{
    width: 100%;
    height: 110px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 30%;
}
.header--title
{
    display: grid;
    grid-template-columns: 62% 10px 10px 10px;
    grid-template-rows: 100%;
    /* justify-content: center; */
    align-items: center;
}
.header--title-description
{
    font-family: 'kind_and_rich_-_personal_usRg';  
    text-align: right;
    padding-right: 20px;
}
.header--title-description h1
{
    font-size: 50px;
    font-weight: 500;
}
.header--title-description i
{
    font-size: 30px;
}
.cuadro1
{
    width: 20px;
    height: 20px;
    background-color: #241CC4;
    animation-name: rotarcuadro1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;
}
        @keyframes rotarcuadro1
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #ffffff ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #FC0412;
                transform: rotate(180deg);
            }
        }
.cuadro2
{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    animation-name: rotarcuadro2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.15s;
    /* animation-direction: alternate; */
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;
}
        @keyframes rotarcuadro2
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #FC0412 ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #241CC4;
                transform: rotate(180deg);
            }
        }
.cuadro3
{
    width: 20px;
    height: 20px;
    background-color: #FC0412;
    animation-name: rotarcuadro3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.25s;
    /* animation-direction: alternate; */
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;

}
        @keyframes rotarcuadro3
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #241CC4 ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #ffffff;
                transform: rotate(180deg);
            }
        }

        .burgerBotton-container
        {
            width: 42px;
            height: 42px;
            margin-top: 0px;
            /* margin-top: 5px;
            padding-right: 5px; */
            display: none;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 50%;
            box-shadow: 0px 0px 6px 0px black;
            position: fixed;
            top: 10px;
            right: 5px;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .burgerBotton-container span
        {
            font-size: 25px;
            color: rgb(0, 0, 0)
        }


.header--nav
{
    display: grid;
    grid-template-columns: 15% 15% 15%;
    grid-template-rows: 100%;
    /* column-gap: 70px; */
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 18px;
    text-align: center;
    font-weight: 400;
}
.header--nav span
{
    padding-right: 5px;
}
.header--nav-inicio
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-inicio:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
.header--nav-about
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-about:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
.header--nav-paises
{
    color: black;
    padding: 3px 0;
    transition: .5s;
}
.header--nav-paises a
{
    text-decoration: none;
    color: black;
}

    .header--nav-paises:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
    
.nav--paises-lista
{
    margin-top: 3px;
    opacity: 0;
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    width: 13%;
    font-weight: 100;
}
.nav--paises-lista ul
{
    list-style: none;
    padding: 0;
    width: 90%;
}
.nav--paises-lista li a
{
    text-align: center;
    transition: .3s;
}
.nav--paises-lista li:hover
{
    background-color: #dad8d8;
    border-radius: 25px;
}
.nav--paises-lista li 
{
    margin-bottom: 3px;
    width: 100%;
}
    .header--nav-paises:hover .nav--paises-lista
        {
            opacity: 1;
            display: flex;
        }


.header--nav-idiomas
{
    color: black;
    padding: 3px 0;
    transition: .5s;
}
.header--nav-idiomas a
{
    text-decoration: none;
    color: black;
}

    .header--nav-idiomas:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }

.nav--idiomas-lista
{
    margin-top: 3px;
    opacity: 0;
    transition: 1s;
    display: none;
    position: absolute;
    background-color: white;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    justify-content: center;
    width: 13%;
    font-weight: 100;
}
.nav--idiomas-lista ul
{
    list-style: none;
    padding: 0;
    width: 90%;
}
.nav--idiomas-lista li a
{
    text-align: center;
    transition: .3s;
}
.nav--idiomas-lista li:hover
{
    background-color: #dad8d8;
    border-radius: 25px;
}
.nav--idiomas-lista li 
{
    margin-bottom: 3px;
    width: 100%;
}
    .header--nav-idiomas:hover .nav--idiomas-lista
        {
            opacity: 1;
            display: flex;
        }




.main
{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 500px auto;

}
.main--banner
{
    /* border: 1px solid black; */
    background-color: black ;
    background-image: url(./imgs/backblack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 44% 50%;
    grid-template-rows: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
}


.main--banner h1
{
    font-family: 'coolveticaregular';
    font-size: 60px;
    text-align: right;
    padding-right: 50px;
    color: white;
    letter-spacing: 2px;
    border-right: white 3px solid;
}
.main--banner p
{
    font-family: 'coolveticaregular';
    font-size: 25px;
    text-align: left;
    padding-left: 50px;
    color: white;
    letter-spacing: 1px;
}


.main--about
{
    /* border: 1px solid black; */
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 40% 45%;
    grid-template-rows: 90%;
    column-gap: 10%;
}
.main--about-who
{
    height: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 25% 12% 50%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    background-color: #edecec;
    border-radius: 25px;
}
.main--about-who span
{
    text-align: center;
    font-size: 70px;
}
.main--about-who h2
{
    font-size: 32px;
    font-family: 'coolveticaregular';
    text-align: center;
    letter-spacing: 2px;
}
.main--about-who p
{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
}
.main--about-what
{
    height: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 25% 12% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #edecec;
    border-radius: 25px;
}
.main--about-what span
{
    text-align: center;
    font-size: 70px;
}
.main--about-what h2
{
    font-size: 32px;
    font-family: 'coolveticaregular';
    text-align: center;
    letter-spacing: 2px;
}
.main--about-what p
{
    font-family: 'Roboto';
    font-size: 25px;
    font-weight: 300;
    text-align: justify;
}


.main--review
{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto auto 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.main--review-line
{
    width: 90%;
    height: 3px;
    background-color: black;
    display: grid;
}
.main--review h1
{
    font-family: 'coolveticaregular';
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}
.main--review-paises
{
    width: 100%;
    height: 100%;
    /* border: 1px solid black; */
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60% 40%;
}
.paises--container
{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(500, 1px);
    grid-template-rows: repeat(500, 1px);
}


.review--container-CA
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #e2e0e0;
    border-radius: 25px;
    right: 130px;
    opacity: 1;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 10% 30% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.review--container-CA-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 65% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-CA-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-CA-title span
{
    font-size: 24px;
    text-align: left;
    padding-left: 10px;
}
.review--CA-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisaje1.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-CA p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}

.container-guatemala
{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 50;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}
.paises--container-guatemala
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-guatemala2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 110% 50%;
}
.review--container-guatemala    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    border-radius: 25px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-guatemala-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-guatemala-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-guatemala-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--guatemala-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-guatemala.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-guatemala p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-guatemala:hover .paises--container-guatemala
    {
        opacity: 0;
    }
    .container-guatemala:hover .paises--container-guatemala2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
    .container-guatemala:hover .review--container-guatemala
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }


.container-belice
{
    width: 100%;
    height: 100%;
    grid-column-start: 83;
    grid-row-start: 31;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-belice
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;

}

.paises--container-belice2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: -10% 100%;
}
.review--container-belice    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    margin-top: 20px;
    border-radius: 25px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-belice-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-belice-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-belice-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--belice-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-belice.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-belice p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-belice:hover .paises--container-belice
    {
        opacity: 0;
    }
    .container-belice:hover .paises--container-belice2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
    .container-belice:hover .review--container-belice
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

.container-honduras
{
    width: 100%;
    height: 100%;
    grid-column-start: 78;
    grid-row-start: 110;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-honduras
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}
.paises--container-honduras2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    border-radius: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 0% 100%;
}
.review--container-honduras    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    border-radius: 25px;
    margin-top: -59px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-honduras-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-honduras-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-honduras-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--honduras-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-honduras.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-honduras p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-honduras:hover .paises--container-honduras
    {
        opacity: 0;
    }
    .container-honduras:hover .paises--container-honduras2
    {
        opacity: 1;
        z-index: 3;
        transform: scale(1.3);
    }
    .container-honduras:hover .review--container-honduras
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
.container-elsalvador
{
    width: 100%;
    height: 100%;
    grid-column-start: 57;
    grid-row-start: 160;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-elsalvador
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;

}
.paises--container-elsalvador2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 70% -40%;
}
.review--container-elsalvador    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    margin-top: -109px;
    border-radius: 25px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-elsalvador-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-elsalvador-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-elsalvador-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--elsalvador-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-elsalvador.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-elsalvador p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-elsalvador:hover .paises--container-elsalvador
    {
        opacity: 0;
    }
    .container-elsalvador:hover .paises--container-elsalvador2
    {
        opacity: 1;
        z-index: 3;
        transform: scale(1.4);
    }
    .container-elsalvador:hover .review--container-elsalvador
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
.container-nicaragua
{
    width: 100%;
    height: 100%;
    grid-column-start: 126;
    grid-row-start: 143;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-nicaragua
{
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 50px;
   
    transition: .2s;
    position: absolute;
    /* z-index: 1; */
}
.paises--container-nicaragua2
{
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 50px;
  
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: -30% 50%;
}
.review--container-nicaragua    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    border-radius: 25px;
    margin-top: -92px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-nicaragua-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-nicaragua-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-nicaragua-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--nicaragua-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-nicaragua.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-nicaragua p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-nicaragua:hover .paises--container-nicaragua
    {
        opacity: 0;
    }
    .container-nicaragua:hover .paises--container-nicaragua2
    {
        opacity: 1;
        transform: scale(1.3);
    }
    .container-nicaragua:hover .review--container-nicaragua
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
.container-costarica
{
    width: 100%;
    height: 100%;
    grid-column-start: 169;
    grid-row-start: 263;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-costarica
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-costarica2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 110% 10%;
}
.review--container-costarica    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    border-radius: 25px;
    margin-top: -212px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-costarica-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-costarica-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-costarica-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--costarica-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-costarica.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-costarica p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-costarica:hover .paises--container-costarica
    {
        opacity: 0;
    }
    .container-costarica:hover .paises--container-costarica2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
    .container-costarica:hover .review--container-costarica
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }
.container-panama
{
    width: 100%;
    height: 100%;
    grid-column-start: 253;
    grid-row-start: 311;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-panama
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-panama2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 0% 50%;
} 
.review--container-panama    
{
    position: absolute;
    width: 450px;
    height: 400px;
    background-color: #edecec;
    /* background-color: #f05454; */
    border-radius: 25px;
    margin-top: -260px;
    right: 130px;
    opacity: 0;
    transition: .5s;
    display: none;
}
.review--container-panama-title
{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 60% 50%;
    grid-template-rows: 100%;
    align-items: center;
    margin-bottom: 20px;
}
.review--container-panama-title h3
{
    font-size: 50px;
    font-weight: 300;
    /* color: white; */
    font-family: 'kind_and_rich_-_personal_usRg' ;
    text-align: right;
}
.review--container-panama-title img
{
    margin-right: auto;
    width: 50px;
    text-align: left;
    padding-left: 10px;
}
.review--panama-img
{
    
    width: 100%;
    height: 100%;
    background-image: url("./imgs/paisajes/paisaje-panama.jpg");
    background-size: cover;
    border-radius: 25px;
}
.review--container-panama p
{
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    text-align: justify;
}
    .container-panama:hover .paises--container-panama
    {
        opacity: 0;
    }
    .container-panama:hover .paises--container-panama2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
    .container-panama:hover .review--container-panama
    {
        opacity: 1;
        display: grid;
        grid-template-columns: 90%;
        grid-template-rows: 10% 30% 50%;
        justify-content: center;
        align-items: center;
        align-content: center;
    }

.return-botton
{
    text-decoration: none;
    
    width: 60px;
    height: 70px;
} 
.return-botton--container
{
    position: absolute;
    right: 30px;
    margin-top: 30%;
    width: 70px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
    border-radius: 10px;
    /* border: 1px solid black; */
    background-color: #edecec;
}
.return-botton--container span
{
    font-size: 25px;
    text-align: center;
    color: black;
}
.return-botton--container p
{
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 300;
    color: black;
    text-align: center;
}


.footer
{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 141);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.footer--social
{
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 5%);
    grid-template-rows: 100%;
}
.footer--social a
{
    text-decoration: none;
    color: white;
}
.footer--terminos
{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 100;
}

.anclas
{
    position: absolute;
}

@media screen and (max-width:1100px)
{
    /* .header
    {
        border: 3px solid green
    } */
    .main--review
    {
        display: none;
    }
    
    .main--banner h1
    {
        font-size: 50px;
    }
    .main--about-what p, .main--about-who p
    {
        font-size: 23px;
    }
}
@media screen and (max-width:880px)
{

    /* .header
    {
        border: 3px solid rgb(255, 0, 0);
    } */
    .header--nav
    {
        grid-template-columns: 16% 16% 16% 16%;
    
    }
    .header--title
    {
        grid-template-columns: 70% 10px 10px 10px;
    
    }

    .main
    {
        grid-template-rows: 500px 1000px auto;
    }
    .main--banner
    {
        grid-template-columns: 70%;
        grid-template-rows: 30% 30%;
    }
    .main--banner h1
    {
        font-size: 40px;
        text-align: center;
        padding-right: 0;
        border-right: none;
        padding-bottom: 5%;
        border-bottom: white 3px solid;
    }
    .main--banner p
    {
        padding-left: 0;
        justify-self: flex-start;
        text-align: center;
        align-self: start;
    }
    .main--about
    {
        grid-template-columns: 80%;
        grid-template-rows: 40% 45%;
        row-gap: 5%;
    }
    .main--about-what p,.main--about-who p
    {
        font-size: 23px;
    }
    
    .main--about-what h2,  .main--about-who h2
    {
        font-size: 30px;
    }
}
@media screen and (max-width:480px)
{
    .main--about
    {
        grid-template-columns: 90%;
    }
    .main--about-what p,.main--about-who p
    {
        font-size: 20px;
    }

    .main--about-what h2,  .main--about-who h2
    {
        font-size: 25px;
    }

    .footer--social
    {
        grid-template-columns: repeat(3, 10%);
    }
   
    .menu--despegable
    {
        width: 95%;
    }
}
@media screen and (max-width:632px)
{
    .header
    {
        height: 55px;
        grid-template-columns: 85% 10%;
        grid-template-rows: 100%;
    }
    .header--nav
    {
        display: none;
    }
    .burgerBotton-container
    {
        display: grid;
        box-sizing: border-box;
    }
    .menu--despegable
    {
        width: 70%;
    }
    .header--title-description h1
    {
        font-size: 35px;
        text-align: right;
        padding-left: 3px;
    }
    .header--title
    {
        grid-template-columns: 75% 10px 10px 10px;
        justify-items: center;
        align-content: center;
    }
    .header--title-description i
    {
        display: none;
    }
}