body
{
    margin: 0;
    padding: 0;
}
.container
{   
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
}
.header
{
    width: 100%;
    height: 110px;
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 65% 30%;
}
.header--title
{
    display: grid;
    grid-template-columns: 62% 10px 10px 10px;
    grid-template-rows: 100%;
    /* justify-content: center; */
    align-items: center;
}
.header--title-description
{
    font-family: 'kind_and_rich_-_personal_usRg';  
    text-align: right;
    padding-right: 20px;
}
.header--title-description h1
{
    font-size: 50px;
    font-weight: 500;
}
.header--title-description i
{
    font-size: 30px;
}
.cuadro1
{
    width: 20px;
    height: 20px;
    background-color: #241CC4;
    animation-name: rotarcuadro1;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;
}
        @keyframes rotarcuadro1
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #ffffff ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #FC0412;
                transform: rotate(180deg);
            }
        }
.cuadro2
{
    width: 20px;
    height: 20px;
    background-color: #ffffff;
    animation-name: rotarcuadro2;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.15s;
    /* animation-direction: alternate; */
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;
}
        @keyframes rotarcuadro2
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #FC0412 ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #241CC4;
                transform: rotate(180deg);
            }
        }
.cuadro3
{
    width: 20px;
    height: 20px;
    background-color: #FC0412;
    animation-name: rotarcuadro3;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-delay: 0.25s;
    /* animation-direction: alternate; */
    transform: rotate(45deg);
    box-shadow: 2px 2px 18px #888888;

}
        @keyframes rotarcuadro3
        {
            0%
            {
                transform: rotate(0deg);
            }
            25%
            {
                
                transform: rotate(45deg);
            }
            50%
            {
                background-color: #241CC4 ;
                transform: rotate(90deg);
            }
            75%
            {
                
                transform: rotate(135deg);
            }
            100%
            {
                background-color: #ffffff;
                transform: rotate(180deg);
            }
        }
.header--nav
{
    display: grid;
    grid-template-columns: 11% 11% 11% 11%;
    grid-template-rows: 100%;
    /* column-gap: 70px; */
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 20px;
    text-align: center;
    font-weight: 400;
}
.header--nav span
{
    padding-right: 10px;
}
.header--nav-inicio
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-inicio:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
.header--nav-about
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-about:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
.header--nav-paises
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-paises:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }
.header--nav-idiomas
{
    text-decoration: none;
    color: black;
    padding: 3px 0;
    transition: .5s;
}
    .header--nav-idiomas:hover
    {
        background-color: #e2dddd;
        border-radius: 25px;
        padding: 3px 0;
    }



.main
{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 500px 650px;

}
.main--banner
{
    /* border: 1px solid black; */
    background-color: black ;
    background-image: url(./imgs/backblack.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 35% 40%;
    grid-template-rows: 60%;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.main--banner-linea
{
    border-right: white 3px solid;
}

.main--banner h1
{
    font-family: 'coolveticaregular';
    font-size: 60px;
    text-align: right;
    padding-right: 50px;
    color: white;
    letter-spacing: 2px;
}
.main--banner p
{
    font-family: 'coolveticaregular';
    font-size: 30px;
    text-align: left;
    padding-left: 50px;
    color: white;
    letter-spacing: 1px;
}


.main--about
{
    /* border: 1px solid black; */
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: 30% 30%;
    grid-template-rows: 80%;
    column-gap: 10%;
}
.main--about-who
{
    height: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30% 12% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #edecec;
    border-radius: 25px;
}
.main--about-who span
{
    text-align: center;
    font-size: 80px;
}
.main--about-who h2
{
    font-size: 35px;
    font-family: 'coolveticaregular';
    text-align: center;
    letter-spacing: 2px;
}
.main--about-who p
{
    font-family: 'Roboto';
    font-size: 21px;
    font-weight: 300;
    text-align: justify;
}
.main--about-what
{
    height: 100%;
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: 30% 12% 50%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #edecec;
    border-radius: 25px;
}
.main--about-what span
{
    text-align: center;
    font-size: 80px;
}
.main--about-what h2
{
    font-size: 35px;
    font-family: 'coolveticaregular';
    text-align: center;
    letter-spacing: 2px;
}
.main--about-what p
{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
}


.main--review
{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 90%;
    grid-template-rows: auto auto 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}
.main--review-line
{
    width: 90%;
    height: 3px;
    background-color: black;
    display: grid;
}
.main--review h1
{
    font-family: 'coolveticaregular';
    letter-spacing: 2px;
    font-size: 40px;
    text-align: center;
}
.main--review-paises
{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 60% 40%;
}
.paises--container
{
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    grid-template-columns: repeat(500, 1px);
    grid-template-rows: repeat(500, 1px);
}


.container-guatemala
{
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-row-start: 50;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;

}
.paises--container-guatemala
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-guatemala2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 110% 50%;
}
    .container-guatemala:hover .paises--container-guatemala
    {
        opacity: 0;
    }
    .container-guatemala:hover .paises--container-guatemala2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
.container-belice
{
    width: 100%;
    height: 100%;
    grid-column-start: 83;
    grid-row-start: 31;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-belice
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;

}

.paises--container-belice2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: -10% 100%;
}
    .container-belice:hover .paises--container-belice
    {
        opacity: 0;
    }
    .container-belice:hover .paises--container-belice2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }

.container-honduras
{
    width: 100%;
    height: 100%;
    grid-column-start: 78;
    grid-row-start: 110;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-honduras
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}
.paises--container-honduras2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    border-radius: 50px;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 0% 100%;
}
    .container-honduras:hover .paises--container-honduras
    {
        opacity: 0;
    }
    .container-honduras:hover .paises--container-honduras2
    {
        opacity: 1;
        z-index: 3;
        transform: scale(1.3);
    }
.container-elsalvador
{
    width: 100%;
    height: 100%;
    grid-column-start: 57;
    grid-row-start: 160;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-elsalvador
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;

}
.paises--container-elsalvador2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 70% -40%;
}
    .container-elsalvador:hover .paises--container-elsalvador
    {
        opacity: 0;
    }
    .container-elsalvador:hover .paises--container-elsalvador2
    {
        opacity: 1;
        z-index: 3;
        transform: scale(1.4);
    }
.container-nicaragua
{
    width: 100%;
    height: 100%;
    grid-column-start: 126;
    grid-row-start: 143;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-nicaragua
{
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 50px;
   
    transition: .2s;
    position: absolute;
    /* z-index: 1; */
}
.paises--container-nicaragua2
{
    grid-column-start: 1;
    grid-row-start: 1;
    border-radius: 50px;
  
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: -30% 50%;
}
    .container-nicaragua:hover .paises--container-nicaragua
    {
        opacity: 0;
    }
    .container-nicaragua:hover .paises--container-nicaragua2
    {
        opacity: 1;
        transform: scale(1.3);
    }
.container-costarica
{
    width: 100%;
    height: 100%;
    grid-column-start: 169;
    grid-row-start: 263;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-costarica
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-costarica2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 110% 10%;
}
    .container-costarica:hover .paises--container-costarica
    {
        opacity: 0;
    }
    .container-costarica:hover .paises--container-costarica2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
.container-panama
{
    width: 100%;
    height: 100%;
    grid-column-start: 253;
    grid-row-start: 311;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}
.paises--container-panama
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
}
.paises--container-panama2
{
    grid-column-start: 1;
    grid-row-start: 1;
    transition: .2s;
    position: absolute;
    opacity: 0;
    transform: scale(1);
    transform-origin: 0% 50%;
} 
    .container-panama:hover .paises--container-panama
    {
        opacity: 0;
    }
    .container-panama:hover .paises--container-panama2
    {
        opacity: 1;
        
        transform: scale(1.3);
    }
.footer
{
    width: 100%;
    height: 150px;
    background-color: rgb(0, 0, 141);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
}
.footer--social
{
    width: 100%;
    height: 100%;
    font-size: 25px;
    color: white;
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    grid-template-columns: repeat(3, 5%);
    grid-template-rows: 100%;
}
.footer--social a
{
    text-decoration: none;
    color: white;
}
.footer--terminos
{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Roboto';
    font-weight: 100;
}